.users-body {
  text-align: center;
  height: 95vh;
}

.report {
  display: flex;
  font-size: 2.4rem;
  justify-content: space-evenly;
  padding: 2rem;
  margin: 1rem 2rem;
  text-align: center;
}

.report > div {
  border: 1px solid red;
  padding: 0 1.2rem;
}

span {
  font-size: 4rem;
}

.priority-container > p {
  font-size: 2.4rem;
}

.user-container {
  border: 1px solid orangered;
  border-radius: 10px;
  width: 60%;
  padding: 1rem;
  margin: 1rem auto;
  text-align: left;
  background-color: antiquewhite;
  position: relative;
}

.user-item {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.user-username {
  width: 60%;
  margin-left: 2rem;
}

.notes-icon {
  margin: 0.8rem;
  margin-left: 2rem;
}

.total-notes {
  margin-right: 1rem;
}

.notes-rate {
  margin-top: 0.8rem;
  margin-right: 20rem;
}

.notes-description-container {
  display: inline-block;
  width: 80%;
}

.notes-description {
  font-size: 2rem;
  margin-left: 2rem;
}

.notes-button {
  position: absolute;
  float: right;
  right: 1rem;
  bottom: 1rem;
  font-size: 3rem;
  font-family: inherit;
  padding: 1rem 2rem;
  background-color: green;
  color: antiquewhite;
  border-radius: 10px;
}
