.login-container {
  height: 100vh;
  position: relative;
  text-align: center;
  margin: 0 auto;
  backface-visibility: hidden;
  transform: translateX(10rem);
}

.left-arrow {
  background-color: orangered;
  clip-path: polygon(23% 0%, 50% 23%, 23% 50%);
  height: 80rem;
  width: 80%;
  position: absolute;
  left: 15%;
  margin: 0 auto;
  text-align: center;

  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.right-arrow {
  background-color: green;
  clip-path: polygon(50% 50%, 76% 23%, 76% 76%);
  height: 80rem;
  width: 80%;
  position: absolute;
  margin: 0 auto;

  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.login-header {
  position: inherit;
  display: flex;
  flex-direction: column;
  top: 12%;
  left: 25%;
  font-size: 5rem;
}

.login-signup {
  position: inherit;
  display: flex;
  flex-direction: column;
  top: 22%;
  left: 25%;
  font-size: 2rem;
}

.left-arrow button {
  position: inherit;
  top: 27%;
  left: 25%;
  font-family: inherit;
  font-size: 2rem;
  width: 10%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

img {
  width: 15rem;
  position: absolute;
}

.login-form {
  position: inherit;
  display: flex;
  flex-direction: column;
  top: 36%;
  left: 58%;
  font-size: 3rem;
}

.login-form input {
  font-size: 20px;
  width: 75%;
  border-radius: 0.5rem;
}

.login-form button {
  font-family: inherit;
  font-size: 2rem;
  width: 45%;
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
