.notes-body {
  text-align: center;
  height: 95vh;
}

.new-note-button {
  font-size: 3rem;
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  color: green;
  cursor: pointer;
}

.logout-button {
  font-size: 3rem;
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  width: 20rem;
  color: red;
  cursor: pointer;
}

.note-container {
  border: 1px solid orangered;
  border-radius: 10px;
  width: 60%;
  padding: 1rem;
  margin: 1rem auto;
  text-align: left;
  background-color: antiquewhite;
  position: relative;
}

.note-item {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  font-size: 2.4rem;
}

.note-prio-title-cont {
  display: flex;
}

.note-priority {
  transform: rotate(90deg);
}

.note-title {
  width: 60%;
  margin-left: 2rem;
}

.note-date-pos-cont {
  display: flex;
}

.date-icon {
  margin: 0.8rem;
  margin-left: 2rem;
}

.note-date {
  margin-right: 1rem;
  width: 13rem;
}

.note-location {
  margin-top: 0.8rem;
  margin-right: 12rem;
}

.note-description-container {
  display: inline-block;
  width: 80%;
}

.note-description {
  font-size: 2rem;
  margin-left: 2rem;
}

.location-button {
  background-color: rgba(0, 128, 0, 0);
  border: 2px solid green;
  cursor: pointer;
}

.done-button {
  position: absolute;
  float: right;
  right: 1rem;
  bottom: 3rem;
  font-size: 3rem;
  font-family: inherit;
  padding: 1rem 2rem;
  background-color: green;
  color: antiquewhite;
  border-radius: 10px;
  cursor: pointer;
}

@media (max-width: 1100px) {
  .note-container {
    width: 70%;
  }
}

@media (max-width: 950px) {
  .note-container {
    width: 80%;
  }
}

@media (max-width: 840px) {
  .note-container {
    width: 90%;
  }
}

@media (max-width: 750px) {
  .note-date {
    margin-right: 1rem;
    width: 10rem;
  }
}

@media (max-width: 650px) {
  .note-item {
    flex-direction: column;
  }

  .done-button {
    bottom: 5rem;
  }
}

@media (max-width: 440px) {
  .note-date-pos-cont {
    flex-direction: column;
    margin-left: 3rem;
  }
  .date-icon {
    transform: translateX(-2rem);
  }
  .done-button {
    bottom: 10rem;
  }
}
