.map-container {
  position: relative;
  width: 95%;
  height: 95vh;
  margin-top: 20rem;
}

.close-button {
  position: absolute;
  top: 10rem;
  right: 10rem;
  z-index: 20;
  font-size: 5rem;
  padding: 2rem;
  background-color: orangered;
  cursor: pointer;
  color: black;
  font-family: inherit;
  display: inline-block;
  text-decoration: none !important;
}
