.map-container {
  position: relative;
  width: 95%;
  height: 95vh;
  margin-top: 200px;
}

.close-button {
  position: absolute;
  top: 100px;
  right: 100px;
  z-index: 20;
  font-size: 50px;
  padding: 20px;
  background-color: orangered;
  cursor: pointer;
  color: black;
  font-family: inherit;
  display: inline-block;
  text-decoration: none !important;
}
