.signup-container {
  height: 95vh;
  text-align: center;
}

p {
  font-size: 2rem;
}

span {
  font-size: 5rem;
}

.signup-container img {
  position: inherit;
}

.signup-form {
  text-align: center;
  margin: 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.signup-form input {
  font-size: 3rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.signup-form button {
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
}

@media (max-width: 1000px) {
  .signup-form {
    width: 80%;
  }
}

@media (max-width: 425px) {
  p {
    font-size: 1.5rem;
  }
}

@media (max-width: 320px) {
  p {
    font-size: 1.2rem;
  }
}
